body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Fira Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

code {
  font-family: Fira Mono, source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

/* Hide notifications and warnings during screenshot mode */
[data-screenshot-mode] .noty_bar,
[data-screenshot-mode] .firebase-emulator-warning {
  display: none !important;
}
